/* ________________________________________________________________________
edit the bootstrap file here */

button {
    border: 0;
    border-radius: 3px;
}

.container-fluid {
    width: 100%;
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.form-control-plaintext {
    display: block;
    width: 100%;
    padding-top: .375rem;
    padding-bottom: .375rem;
    margin-bottom: 0;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    border: none transparent;
    border-top: solid transparent;
    border-width: 1px 0
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid #ced4da;
    border-radius: .25rem
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1)
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, .55)
}

.active{
    color: rgba(1, 1, 1, .55) !important
}
.bg-light {
    background-color: #ffffff !important
}


/* ________________________________________________________________________
my own css style */

.bg-red {
    background-color: #ed302c;
    color: #ffffff !important;
}

.text-red {
    color: #ed302c !important;
}

.navbar-dark .navbar-nav .nav-link.login,
.home .nav .nav-item .nav-link.login {
    background-color: #ffffff;
    color: rgba(237, 48, 44, 1);
    border-radius: 50px;
}

.home {
    position: absolute;
    top: 10em;
    z-index: 1;
    left: 5em;
}

.home_end {
    width: 100%;
    position: absolute;
    bottom: 50px;
    z-index: 1;
}

.home .nav .nav-item .nav-link {
    border-radius: 50px;
    border: #ed302c solid 1px;
    background-color: rgba(237, 48, 44, 1);
    color: #ffffff;
}

.down-left {
    border-radius: 0px 0px 0px 659px / 0px 0px 0px 350px;
}

.up-right-down-left {
    border-radius: 0px 400px 0px 400px / 0px 400px 0px 400px;
}

.up-right {
    border-radius: 0px 659px 0px 0px / 0px 350px 0px 0px;
}

.bg-map {
    background-image: url(../img/‏‏Maps.png);
}

.down {
    border-radius: 5px;
}

.bg-boxs {
    background-image: url("../img/Signup.png");
}

form {
    width: 400px;
}

.service2 {
    background-color: #ffffff;
    border: 5px solid #ffffff;
    border-radius: 150px 150px 0px;
    box-shadow: 100px 0px 0px 0px 40px;
}

.service1 {
    background-color: #ffffff;
    border: 5px solid #ffffff;
    border-radius: 150px 150px 150px 0px;
}

.movingSofa {
    max-width: 100%;
    /* width: 546px; */
    object-position: 50px;
    height: 700px;
    object-fit: cover;
}

.image {
    max-width: 100% !important;
    max-height: 170px !important
}

.bg-left {
    border-radius: 150px 0px 0px 150px;
    background: linear-gradient(to left, #ed302c 0%, #ffffff 550%);
}

.bg-right {
    border-radius: 0px 150px 150px 0px;
    background: linear-gradient(to right, #ed302c 0%, #ffffff 550%);
}

#FurnitureShipping {
    display: none;
}

#signupclick:hover~#loginform {
    display: none;
}

#signupclick:hover #FurnitureShipping {
    display: block;
}

.bg-red-black {
    background: linear-gradient(to bottom, #ed302c 0%, #292727 71%);
    color: #ffffff !important;
}

.arrow {
    object-fit: contain;
    width: 40px;
    max-height: 40px;
    background-color: #ed302c;
    box-shadow: 0px 0px 0px 15px rgb(255 255 255 / 5%), 0px 0px 0px 30px rgb(255 255 255 / 5%);
    padding: 5px;
}

.radius {
    border-radius: 50px;
}

.focus_color {
    background: #ed302c52;
    padding: 7px;
    border-radius: 3px;
}


/* ________________________________________________________________________ 
 the style of custom plus and minus button 
 */

input,
textarea {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 10px;
}

input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-group {
    clear: both;
    margin: 15px 0;
    position: relative;
}

.input-group input[type='button'] {
    background-color: #eeeeee;
    min-width: 38px;
    width: auto;
    transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
    font-weight: bold;
    height: 38px;
    padding: 0;
    width: 38px;
    position: relative;
}

.input-group .quantity-field {
    position: relative;
    height: 38px;
    left: -6px;
    text-align: center;
    width: 62px;
    display: inline-block;
    font-size: 13px;
    margin: 0 0 5px;
    resize: vertical;
}

.button-plus {
    left: -13px;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}


/* ________________________________________________________________________
 the style of custom radio button 
 /* The container_of_radio */


/* 
.form-check-inline.col-3 {
    background-color: #e7e7e7;
} */

.container_of_radio {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* background: #e7e7e7; */
    padding: 5px;
    padding-left: 20px;
    border-radius: 3px;
}


/* Hide the browser's default radio button */

.container_of_radio input {
    display: none;
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 25%;
    left: 5%;
    height: 15px;
    width: 15px;
    border: 1px solid #959595;
    border-radius: 50%;
}


/* On mouse-over, add a light pink background color */


/* .container_of_radio:hover input~.checkmark {
    background-color: #ed2f2c27;
} */


/* When the radio button is checked, add a white background */

.container_of_radio input:checked~.checkmark {
    border-radius: 50%;
    border: 1px solid #ed302c;
    background-color: white;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator
(dot/circle) when checked */

.container_of_radio input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.container_of_radio .checkmark:after {
    top: 2px;
    left: 2px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #ed302c;
}


/*________________________________________________________________________
 the style of custom switch button 
*/

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border: 3px solid gray;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    top: -2px;
    left: -1px;
    border: 3px solid gray;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked+.slider {
    background-color: #ed302c;
    border: 3px solid #ed302c;
}

input:checked+.slider:before {
    border: 3px solid #ed302c;
    -webkit-transform: translateX(8px);
    -ms-transform: translateX(8px);
    transform: translateX(8px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* ________________________________________________________________________
the style of custom time and date 
*/

input[type="date"] {
    width: 130px;
    padding-right: 3px;
}

 ::-webkit-datetime-edit-fields-wrapper {
    display: none;
}

input[type="time"]:checked ::-webkit-datetime-edit-fields-wrapper {
    display: block;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background-image: url(../img/clock.svg);
    filter: opacity(30%);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url(../img/calendar.svg);
    filter: opacity(30%);
    margin: 0px;
}